@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta aplicación le permitirá a usted como usuario poder almacenar en su WatchList distintas series, peliculas
    , documentales dentro de las cuales tendrá varias opciones</p>
