@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad Rafael Landívar de Guatemala<br />
    Guatemala City, Guatemala<br />
    <abbr title="Phone">P:</abbr>
    +502-47045823 / +502-47247017
</address>

<address>
    <strong>Expert:</strong>   <a href="mailto:bkevin1052@gmail.com">bkevin1052@gmail.com</a><br />
    <strong>Expert:</strong> <a href="mailto:leslykarinadubon@ayahoo.com">leslykarinadubon@ayahoo.com</a>
</address>