@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¡WELCOME TO GUAFLIX! :D</h1>
    <p class="lead">¡La aplicación donde todas tus series, películas, documentales serán de tu agrado!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Deberá llenar un formulario, para poder hacer uso de la aplicación...
        </p>
        <p>@Html.ActionLink("Sign Up", "RegistroUsuario", "Usuario")</p>
    </div>
    <div class="col-md-4">
        <h2>Administrator</h2>
        <p>Únicamente un usuario administrador podrá ingresar...</p>
        <p>@Html.ActionLink("Sign in", "IniciarSesionAdmin", "Administrador")</p>
    </div>
    <div class="col-md-4">
        <h2>User</h2>
        <p>Únicamente usuarios ya registrados...</p>
        <p>@Html.ActionLink("Sign In", "IniciarSesionAdmin", "Usuario")</p>//falta implementar vista       
    </div>
</div>